#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Prom
Comment=Prom GTK Launcher
Categories=Network;Proxy;
Exec=bash -c "export PATH=$PATH:`dirname '%k'`; exec promgui.py"
Icon=applications-internet
Terminal=false
StartupNotify=true
